@import '../../assets/variables.scss';

.features-details {
    background: $VERY-LIGHT-GREY;
    width:100%;
    padding: 50px 0px 20px 0px;
}

.features-details > *{
    color: $DARK-GREY;
}

.sub-title-f {
    color: $DARK-GREY;
    font-size: 1.5rem;
    font-weight: 600;
}

ul {
    list-style: none;

}

li{
    font-size: .8rem;
}

ul.dots li::before {
    content: "\2022";
    color: $MAIN-COLOR;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;

  }

.breadcrumbs li:not(:last-child)::after {
    position: relative;
    margin: 0 .75rem;
    font-size: .75rem;
    font-weight: bolder;
    opacity: 1;
    content: "|";
    color: $MAIN-COLOR;
}

a {
    text-decoration: none;
    color:$DARK-GREY
}

.breadcrumbs li .active {
    color: $LIGHT-GREY;    
    position: relative;
}

.breadcrumbs li {
    position: relative;
}

.breadcrumbs li a.active:after {
    content: "\25bc";
    color: $MAIN-COLOR;
    width: 100px;
    height: 100px;
    position: absolute;
    top:15px;
    left:5px;
    
}

.left-bar {
    border-left: 2pt dotted $MAIN-COLOR;
    padding:10px;
}

.img-container > img {
    width: 100%;
    max-height: 700px;
    object-fit: contain;
    overflow: hidden;
}


.container {
  width: 75%;
  margin: 3rem auto;
}
.orbit-bullets button {
  border-radius: 0;
  width: 5rem;
  height: 5rem;
}
.thumbnail {
  margin-bottom: 0;
  border: 2px solid rgba(0, 0, 0, .2);
}
.orbit-previous:hover, .orbit-next:hover, .orbit-previous:focus, .orbit-next:focus {
  background-color: transparent;
}

.number {
    text-align: center;
    font-size: 6em;
    color: $MAIN-COLOR;
    font-family: 'Avant Garde';
}