<div class="features-details">
    <div class="feature-header flex">
        <div class="cross-line f3"></div>
        <h3 class="sub-title-f f4">
            UNIT DETAILS & FEATURES
        </h3>
        <div class="cross-line f3"></div>
    </div>
    <div class="flex flex-justify-center">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a [routerLink]="['/loft/105']" [routerLinkActive]="['active']">105</a></li>
                          <li><a [routerLink]="['/loft/106']" [routerLinkActive]="['active']">106</a></li>
                          <li><a [routerLink]="['/loft/107']" [routerLinkActive]="['active']">107</a></li>
                          <li><a [routerLink]="['/loft/108']" [routerLinkActive]="['active']">108</a></li>
                          <li><a [routerLink]="['/loft/109']" [routerLinkActive]="['active']">109</a></li>
                          <li><a [routerLink]="['/loft/201']" [routerLinkActive]="['active']">201</a></li>
                          <li><a [routerLink]="['/loft/202']" [routerLinkActive]="['active']">202</a></li>
            </ul>
        </nav>
    </div>


</div>
