<div class="features-details">
    <div class="feature-header flex">
        <div class="cross-line f3"></div>
        <h3 class="sub-title-f f4">
            UNIT DETAILS & FEATURES
        </h3>
        <div class="cross-line f3"></div>
    </div>
    <div class="flex flex-justify-center">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li *ngFor="let id of ids"><a [routerLink]="['/loft/'+ id]" [routerLinkActive]="['active']">{{id}}</a></li>                
            </ul>
        </nav>
    </div>
    <br>
    <div class="grid-x">
        <div class="cell medium-4">
            <h1>{{id}}</h1>
        </div>
        <div class="grid-x cell medium-8">
            <div class="cell medium-8">
                <ul class="breadcrumbs">
                    <li *ngFor="let info of loft.characteristics"><a >{{info}}</a></li>                
                </ul>
                <p class="pr-10">
                    {{loft.description}}
                </p>
            </div>
            <div class="cell medium-4 left-bar">
                <div >
                    <h4>HIGHLIGHTS</h4>
                    <ul class="dots">
                        <li *ngFor="let info of loft.highlights"><a >{{info}}</a></li>                
                    </ul>
                </div>
            </div>
        </div>
        
    </div>

    <div class="grid-x">
        <div class="cell medium-4">
            <h4>FLOORPLANS</h4>
            <ul class="breadcrumbs">
                <li *ngFor="let info of loft.floorplans; let i = index"><a (click)="showPicture(i)">FLOOR {{info.id + 1}}</a></li>                
            </ul>
            <div class="img-container">
                <img src="{{floorPlan}}" alt="">
            </div>
        </div>
        <div class="cell medium-8">
            <div class="container flex ">
                <div *ngFor="let info of loft.pictures; let i = index" class="m-10">
                    <img  src="{{loft.pictures[i].picture}}" alt="" />                    

                </div>
            </div>
            <div class="img-container">
                <img src="{{loft.pictures[0].picture}}" alt="">
            </div>
        </div>

    </div>

</div>
