<app-top-bar></app-top-bar>
<app-main-picture title="LOFTS" subtitle="explore the unique features of each unit to find the perfect option for you" picture="https://via.placeholder.com/950x323.png" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptatibus, quaerat, tempore repellat assumenda accusantium ratione eum deserunt praesentium a facilis voluptatem maiores libero unde tempora aliquam. Voluptatem, iusto itaque?"></app-main-picture>
<app-unit-details></app-unit-details>
<app-footer></app-footer>
