<app-top-bar></app-top-bar>
<div class="main">
        <div class="body">
            <div class="flex flex-column flex-justify-center w-100 h-100">
    
                <div class="flex flex-justify-center ">
                    <h3 class="header">CONTACT</h3>
                </div>
                <br>
                <p class="contact-p flex flex-justify-center">
                   TO LEARN MORE ABOUT MANHATTAN BEACH LOFTS,<br> PLEASE FILL OUT THE FIELDS BELOW TO SEND US A MESSAGE: 
                </p>
                <br>
                <form action="" class="grid-x grid-margin-x half-wide flex-justify-center flex">
                        <div class="cell small-6 m-5">
                            <input type="text" placeholder="First Name*">
                        </div>
                        <div class="cell small-6 m-5">
                            <input type="text" placeholder="Last Name*">
                        </div>
                        <div class="cell small-6 m-5">
                            <input type="text" placeholder="Email*">
                        </div>
                        <div class="cell small-6 m-5">
                            <input type="text" placeholder="Phone">
                        </div>
                        <div class="cell small-12 m-5">
                            <textarea name="" placeholder="Message" id="" cols="30" rows="10"></textarea>
                        </div>
                </form>
                <div class="flex flex-justify-center">
                    <i>Required fields are marked*</i>
                </div>
                <br>
                <div class="flex flex-justify-center">
                    <a class="button dark-button expanded" href="#">SUBMIT</a>
                </div>                
            </div>
        </div>                
    </div>
    <br>

<app-footer></app-footer>
