<div class="availability">
    <div class="feature-header flex">
        <div class="cross-line f3"></div>
        <h3 class="sub-title f4">
            AVAILABILITY
        </h3>
        <div class="cross-line f3"></div>
    </div>
    <div class="img-collection">
        <div class="grid-x">
            <div class="cell auto"></div>
            <div class="grid-x cell medium-8">
                <div class="cell auto"></div>
                <div class="cell medium-2 boxed-img">
                    <img src="https://via.placeholder.com/500x500.png" alt="">
                </div>
                <div class="cell medium-2 boxed-img">
                    <img src="https://via.placeholder.com/500x500.png" alt="">
                </div>
                <div class="cell medium-2 boxed-img">
                    <img src="https://via.placeholder.com/500x500.png" alt="">
                </div>
                <div class="cell medium-2 boxed-img">
                    <img src="https://via.placeholder.com/500x500.png" alt="">
                </div>
                <div class="cell auto"></div>
            </div>
            <div class="cell auto"></div>
    
        </div>
        <!-- ROW -->
        <div class="grid-x">
            <div class="cell auto"></div>
            <div class="grid-x cell medium-8">
                <div class="cell auto"></div>
                <div class="cell medium-2 boxed-img">
                    <img src="https://via.placeholder.com/500x500.png" alt="">
                </div>
                <div class="cell medium-2 boxed-img">
                    <img src="https://via.placeholder.com/500x500.png" alt="">
                </div>
                <div class="cell medium-2 boxed-img">
                    <img src="https://via.placeholder.com/500x500.png" alt="">
                </div>
                <div class="cell medium-2 boxed-img">
                    <img src="https://via.placeholder.com/500x500.png" alt="">
                </div>
                <div class="cell auto"></div>
            </div>
            <div class="cell auto"></div>
    
        </div>

        <!-- ROW -->
        <div class="grid-x">
            <div class="cell auto"></div>
            <div class="grid-x cell medium-8">
                <div class="cell auto"></div>
                <div class="cell medium-2 boxed-img">
                    <img src="https://via.placeholder.com/500x500.png" alt="">
                </div>
                <div class="cell medium-2 boxed-img">
                    <img src="https://via.placeholder.com/500x500.png" alt="">
                </div>
                <div class="cell medium-2 boxed-img">
                    <img src="https://via.placeholder.com/500x500.png" alt="">
                </div>
                <div class="cell medium-2 m-5"></div>
                <div class="cell auto"></div>
            </div>
            <div class="cell auto"></div>
    
        </div>
        <!-- ROW -->

        <div class="flex flex-justify-center m-10">
            <div class="cel auto">
                <button type="button" class="button">APPLY NOW</button>
            </div>
        </div>
       
    </div>
</div>
