<div class="features-details">
    <div class="feature-header flex">
        <div class="cross-line f3"></div>
        <h3 class="sub-title-f f4">
            FEATURES & DETAILS
        </h3>
        <div class="cross-line f3"></div>
    </div>
    <div class="grid-x">
        <div class="cell auto"></div>
        <div class="cell medium-3 no-margins">
            <ul class="align-text-center">
                <li>New luxury lofts</li>
                <li>Two bedrooms, two baths</li>
                <li>Contemporary finishes</li>
                <li>Open floor plans</li>
                <li>Designer touches</li>
                <li>Gourmet kitchens</li>
                <li>Quartz countertops</li>
                <li>Brand new stainless steel appliances</li>
            </ul>
        </div>
        <div class="cell medium-3">
            <ul class="align-text-center no-margins">
                <li>Master suites with dual vanities</li>
                <li>Master walk-in closets</li>
                <li>Barn door closets</li>
                <li>Air conditioning</li>
                <li>Secure underground parking garage</li>
                <li>2 side-by-side reserved parking spaces</li>
                <li>5 on-site guest parking spots</li>
                <li>secure building access</li>
            </ul>
        </div>
        <div class="cell medium-3">
            <ul class="align-text-center no-margins">
                <li>Balconies</li>
                <li>Recessed lighting</li>
                <li>Washer/dryer included in unit</li>
                <li>Building elevator</li>
                <li>Prewired with CAT 6</li>
                <li>City and mountain views</li>
                <li>1 mile to beach</li>
            </ul>
        </div>
        <div class="cell auto"></div>
    </div>

</div>
