<div class="features-details">
    <div class="feature-header flex">
        <div class="cross-line f3"></div>
        <h3 class="sub-title-f f4">
            FEATURES & DETAILS
        </h3>
        <div class="cross-line f3"></div>
    </div>
    <div class="grid-x">
        <div class="cell auto"></div>
        <div class="cell medium-3">
            <ul class="align-text-center">
                <li>Lorem ipsum dolor sit</li>
                <li> amet consectetur adipisicing </li>
                <li>elit. Beatae laboriosam </li>
                <li>officia animi. Ipsam quo </li>
                <li>odit quae vero, vitae eius qui</li>
                <li> quibusdam ea quam? Quo maiores </li>
                <li>laudantium delectus </li>
                <li>corporis magnam facere?</li>
            </ul>
        </div>
        <div class="cell medium-3">
            <ul class="align-text-center">
                <li>Lorem ipsum dolor sit</li>
                <li> amet consectetur adipisicing </li>
                <li>elit. Beatae laboriosam </li>
                <li>officia animi. Ipsam quo </li>
                <li>odit quae vero, vitae eius qui</li>
                <li> quibusdam ea quam? Quo maiores </li>
                <li>laudantium delectus </li>
                <li>corporis magnam facere?</li>
            </ul>
        </div>
        <div class="cell medium-3">
            <ul class="align-text-center">
                <li>Lorem ipsum dolor sit</li>
                <li> amet consectetur adipisicing </li>
                <li>elit. Beatae laboriosam </li>
                <li>officia animi. Ipsam quo </li>
                <li>odit quae vero, vitae eius qui</li>
                <li> quibusdam ea quam? Quo maiores </li>
                <li>laudantium delectus </li>
                <li>corporis magnam facere?</li>
            </ul>
        </div>
        <div class="cell auto"></div>
    </div>

</div>
