<div class="main">
    <div class="body">
        <div class="flex flex-column flex-justify-center w-100 h-100">

            <div class="flex flex-justify-center ">
                <h3 class="header">{{ title | uppercase}}</h3>
            </div>
            <br>
            <div class="bar-container flex flex-justify-center">
                <div class="flex-column flex em">
                    <div class="bars ">SOMETHING AMAZING IS</div>
                    <div class="superTitle">COMING SOON</div>
                    <div class="bars">TO MANHATTAN BEACH</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="flex ">
            <div class="f5 align-text-center  p-5">
                <h3 class="mini-header">
                    MANHATTAN BEACH LOFTS
                </h3>
                    
                <div class="flex flex-justify-end">
                    <div class="info f3">
                        <p class="medium-color align-text-right">1214 Tennyson St. <br> Manhattan Beach, CA <br> 90266</p>
                        <button type="button" class="avg very-light-color button">GET DIRECTIONS</button>
                        
                    </div>
                    <div class="map-footer f5">                        
                    </div>
                </div>
            </div>
            <div class="f2 vertical-ligths">
                <ul>
                    <li>ABOUT US</li>
                    <li>CONTACT</li>
                    <li>TEAM</li>
                    <li>PROPERTY SERCH</li>
                    <li>DEVELOPMENTS</li>
                </ul>
            </div>
            <div class="f5 right-box">
                <div class="flex flex-justify-center">
                    <div class="align-text-right mr-20">
                            <h3>
                                <b class="primary-color avg">KATELYN RICHTER</b>
                            </h3>
                            <P class="medium-color">Licensed Assistant & <br> Director of Marketing</P>
                            <div class="flex flex-justify-end avg45">
                                <img src="../../assets/images/phone-2.png" alt="phone" class="icon-small">
                                <b>424 235 3852</b>
                            </div>                            
                            <div class="flex flex-justify-end avg45">
                                <img src="../../assets/images/email-2.png" alt="mail" class="icon-small">
                                <b>Katelyn.Richter@vistasir.com</b>
                            </div>
                            
                            <div class="flex flex-justify-end align-text-right mt-5">
                                <img src="../../assets/images/facebook.png" alt="facebook" class="icon">
                                <img src="../../assets/images/linkedin.png" alt="linkedin" class="icon">
                                <img src="../../assets/images/instagram.png" alt="instagram" class="icon">
                                <img src="../../assets/images/zillow.png" alt="zillow" class="icon">
                            </div>

                    </div>
                    <div class="flex p-5">
                            <img src="../../assets/images/katelyn.jpg" alt="Katelyn Picture" class="boxed-picture">
                    </div>
                </div>                
                
            </div>
        </div>
        <br>
        <div class="flex inside-footer flex-justify-center">
                <div class="f2">
                    <img src="../../assets/images/logo1.gif" alt="">
                </div>
                <p class="f5 align-text-center">Each offi ce is independently owned and operated. <br>
                DRE# 00544011, 01918925, 02053902. Copyright © 2019</p>
                <div class="f2">
                        <img src="../../assets/images/logo2.png" alt="">
                </div>

            </div>

    </div>
</div>
    