@import '../../assets/variables.scss';

.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: stretch;	
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:       
    "body body body body"
    "body body body body"
    "body body body body"    
    "footer footer footer footer";    
}

.body {
    grid-area: body;    
    background: url(../../assets/images/rendering.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}

.icon {
    height: 25px;    
}

.icon-small{
    height: 18px;
    margin-right:5px;
}

.body > * {
    position: relative;    
    z-index:9;
}

.footer {
    grid-area: footer;
    background: #231F20;
    padding: 50px;
    color: white;
}

.header{    
    color:white;
    font-size: 4em;
    text-align: center;
    text-shadow: 0.01em 0.01em 0.01em grey;
    font-family: 'ITC Avant Garde';
    letter-spacing: 0.3em;
    font-weight: lighter;
    
}

.em {
    font-size: 3rem;
    text-align: center;
    
}

.bars {
    text-shadow: 0.01em 0.01em 0.01em grey;
    padding-top:5px;
    padding-bottom: 5px;
    width: 100%;       
    color:#D1D2D3;
    border-top: 1pt solid black;
    border-bottom: 1pt solid black;
    font-family: 'ITC Avant Garde';
    letter-spacing: 0.1em;
    font-weight: lighter;
}



.superTitle{
    text-shadow: 0.01em 0.01em 0.01em grey;
    color:white;
    font-family: 'Avant Garde';
    font-size: 5.5rem;
}

.vertical-ligths {
    border-left: 2pt dotted #0a9fa8e6;
    border-right: 2pt dotted #0a9fa8e6;
    margin-left: 10px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0px;
}

li {
    margin-top:10px;
    font-family: 'Avant Garde'
    
}

.boxed-picture {
    max-width: 200px;
    max-height: 200px;
    border:1pt solid white;
}

.mini-header {
    font-family: 'ITC Avant Garde';
    letter-spacing: 0.3em;
    font-weight: lighter;
    color:$MAIN-COLOR;
    font-size: 1.5em;
}

p{
    font-family:'Avant Garde 45W';    
}

.map-footer {
    background: url(../../assets/images/map-location.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    width:100%;
    height:100%;
    min-height: 100px;
    margin: 10px;
}

.inside-footer {
    border-top: 2pt dotted #0a9fa8e6;
    padding:20px;
}

.info {
    margin:10px;
}

a { 
    color: inherit; 
    text-decoration: none;
} 

.left-box-container {
	display:grid;
	grid-template-columns: 200px auto;
	grid-template-rows: auto;
}

@media only screen and (max-width: 1315px) {
  .left-box-container {
  	grid-template-areas:
	"top-box top-box"
    "right-box right-box"
    "left-box left-box";    
	}
}

@media only screen and (min-width: 1316px) {
  .left-box-container {
  	grid-template-areas:
	"top-box top-box"
    "left-box right-box"
    "left-box right-box";    
    }
    
    .info > p {
        text-align: right;
    }
    .info > button{
        float: right;
    }
}

.top-box {
	grid-area:top-box;	
}

.left-box {
	grid-area:left-box;
}

.right-box {
	grid-area:right-box;
	
}
