<div class="main">
    <div class="body">
        <div class="flex flex-column flex-justify-center w-100 h-100">

            <div class="flex flex-justify-center ">
                <h3 class="header">{{ title | uppercase}}</h3>
            </div>
            <br>
            <div class="bar-container flex flex-justify-center">
                <div class="flex-column flex em">
                    <div class="bars ">SOMETHING AMAZING IS</div>
                    <div class="superTitle">COMING SOON</div>
                    <div class="bars">TO MANHATTAN BEACH</div>
                </div>
            </div>
        </div>
    </div>
    <app-footer class="footer-uc"></app-footer>
</div>
    