<div class="main">
    <div class="body">
        <div class="flex flex-column flex-justify-center w-100 h-100">

            <div class="flex flex-justify-center ">
                <h3 class="header">{{ title | uppercase}}</h3>
            </div>
            <br>
            <div class="bar-container flex flex-justify-center">
                <div class="flex-column flex em">
                    <div class="bars ">SOMETHING AMAZING IS</div>
                    <div class="superTitle">COMING SOON</div>
                    <div class="bars">TO MANHATTAN BEACH</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="flex ">
            <div class="f5 align-text-center">
                MANHATTAN BEACH LOFTS
            </div>
            <div class="f2 vertical-ligths">
                <ul>
                    <li>ABOUT US</li>
                    <li>CONTACT</li>
                    <li>TEAM</li>
                    <li>PROPERTY SERCH</li>
                    <li>DEVELOPMENTS</li>
                </ul>
            </div>
            <div class="f5 right-box">
                <div class="flex">
                    <div class="align-text-right mr-20">
                            <b>KATELYN RICHTER</b>
                            <P>Licensed Assistant & <br> Director of Marketing</P>
                            <div class="flex flex-justify-end">
                                <i class="material-icons">phone</i>
                                <b>424 235 3852</b>
                            </div>
                            <div class="flex flex-justify-end">
                                <i class="material-icons">mail</i>
                                <b>Katelyn.Richter@vistasir.com</b>
                            </div>
                            <div class="flex flex-justify-end align-text-right">
                                <img src="../../assets/images/facebook.png" alt="facebook" class="icon">
                                <img src="../../assets/images/linkedin.png" alt="linkedin" class="icon">
                                <img src="../../assets/images/instagram.png" alt="instagram" class="icon">
                                <img src="../../assets/images/zillow.png" alt="zillow" class="icon">
                            </div>

                    </div>
                    <div class="flex">
                            <img src="../../assets/images/katelyn.jpg" alt="Katelyn Picture" class="boxed-picture">
                    </div>
                </div>
                
                

            </div>
        </div>
    </div>
</div>
    