$MAIN-COLOR: #009FA8;

$DARK-GREY: #58585A;
// (Fonts, Section Backgrounds)

$MEDIUM-GREY: #A8A9AC;
//(Text on Black)

$LIGHT-GREY :#D1D2D4;
//(Text on Teal)

$VERY-LIGHT-GREY: #E6E7E8;
//(Section Backgrounds)