
@import './assets/variables.scss';
/*PAGE HEADERS / LOGO
FONT: ITC Avant Garde Gothic - Book
TRACKING: 250
SIZE: 40 pt (Reduce size for Logo)*/

@font-face {
    font-family: "Avant Garde";
    src: url('./assets/Fonts/avgdb.ttf');
}

@font-face {
    font-family: "Avant Garde 45W";
    src: url('./assets/Fonts/avgr45w.ttf');
}

@font-face {
    font-family: "Avant Garde ITC";
    src: url('./assets/Fonts/avgr45w.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'ITC Avant Garde';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/Fonts/itc-avant-garde.woff');
    
    }

    .primary-color{
        color:$MAIN-COLOR;
    }

    .dark-color{
        color:$DARK-GREY;
    }

    .medium-color{
        color:$MEDIUM-GREY;
    }

    .light-color{
        color:$LIGHT-GREY;
    }

    .vert-light-color{
        color:$VERY-LIGHT-GREY;
    }

    .primary-bg-color{
        background: $MAIN-COLOR;
    }

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

.flex{
    display: flex;
}

.f1 {
    flex: 1;
}

.f2 {
    flex: 2;
}

.f3 {
    flex: 3;
}

.f5 {
    flex: 5;
}

.f10 {
    flex: 10;
}

.min-width-25{
    min-width:25%;
}

.flex-column {
    -webkit-flex-direction: column;
    flex-direction: column;
    float: left;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-end {
    justify-content: flex-end;
}


.vw25{
    font-size:50vw;
}

.mt-20 {
    margin-top:20px;
}

.mt-10 {
    margin-top:10px;
}

.mt-5 {
    margin-top:5px;
}

.mr-10 {
    margin-right: 10px;
}

.m-5 {
    margin:5px;
}

.m-10 {
    margin:10px;
}

.mr-20 {
    margin-right: 20px;
}

.w-100 {
    width: 100%;
}

.h-100{
    height: 100%;
}

.align-text-right {
    text-align: right;
}

.align-text-center {
    text-align: center;
}
.avg {
    font-family: 'Avant Garde';
}

.itc {
    font-family: 'ITC Avant Garde';
}

.avg45 {
    font-family: 'Avant Garde 45W';
}

.p-5 {
    padding: 5px;
}

.button{
    background: $MAIN-COLOR;
    color:white;    
}

.button:hover{
    background: #026e74;
    color:white;
}

.button:focus{
    background: $MAIN-COLOR;
    color:white;
    outline: none;
}

.flex-wrap{
    flex-wrap: wrap ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title {    
    font-family: 'ITC Avant Garde';
    letter-spacing: 0.3em;
    font-weight: lighter;
}

.sub-title {
    font-family: 'Avant Garde';
    color:$DARK-GREY;
    font-weight: bolder;
    
}

.cross-line {
    height: 2px;
    width: 100%;
    background: $MAIN-COLOR;
    margin: 15px;
}
