<app-top-bar></app-top-bar>
<app-main-picture picture="http://mblofts.com/assets/images/HOME.jpg" title="1214 TENNYSON, MANHATTAN BEACH" subtitle="BRAND NEW, 11-UNIT LUXURY LOFT LIVING" description="The Manhattan Beach Lofts put you steps from all the action with a great location close to schools, parks, fine dining, shopping, and a short bike ride to the beach. The first new construction apartment building in Manhattan Beach in 23 years and features all the necessities you need to live the beach lifestyle. 
"></app-main-picture>
<app-features-details></app-features-details>
<app-availability></app-availability>
<app-video-tour></app-video-tour>
<app-footer></app-footer>