<app-top-bar></app-top-bar>
<div class="flex img-container">
        <img src="https://via.placeholder.com/950x323.png" >
</div>
<div class="home">
    
    <h2 class="primary-color title align-text-center">
        1214 TENNYSON, MANHATTAN BEACH
    </h2>
    <h4 class="sub-title align-text-center">
        BRAND NEW, 11-UNIT LUXURY LOFT LIVING
    </h4>
    <p class="allign-text-center description">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quis accusantium debitis incidunt dignissimos voluptate facilis fugit ullam dolores, amet in, eaque nulla adipisci culpa praesentium cum, mollitia ut! Veritatis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quis accusantium debitis incidunt dignissimos voluptate facilis fugit ullam dolores, amet in, eaque nulla adipisci culpa praesentium cum, mollitia ut! Veritatis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quis accusantium debitis incidunt dignissimos voluptate facilis fugit ullam dolores, amet in, eaque nulla adipisci culpa praesentium cum, mollitia ut! Veritatis.
    </p>
</div>
<app-features-details></app-features-details>
<app-availability></app-availability>
<app-video-tour></app-video-tour>
<app-footer></app-footer>