<mat-toolbar >  
        <mat-toolbar-row>
            <span class="mini-header">MANHATTAN BEACH LOFTS</span>
            <!-- This fills the remaining space of the current row -->
            <span class="example-fill-remaining-space"></span>
            <div>
                <nav class="dropdownmenu">
                    <ul>
                      <li><a [routerLink]="['/home']"class="top-menu-buttons">HOME</a></li>                      
                      <li><a [routerLink]="['/home']" class="top-menu-buttons">LOFTS</a>
                        <ul id="submenu">
                          <li *ngFor="let id of ids"><a [routerLink]="['/loft/'+ id]">{{id}}</a></li>
                        </ul>
                      </li>
                      <li><a href="" class="top-menu-buttons">LYFESTYLE</a></li>
                      <li><a href="" class="top-menu-buttons">CONTACT</a></li>
                    </ul>
                  </nav>
            </div>
                
            
            <!-- <button class="m-5 top-menu-buttons" mat-icon-button>
                HOME
            </button>
            <button class="m-5 top-menu-buttons loftsMenu" (mouseover)="showMenu()" mat-icon-button [matMenuTriggerFor]="appMenu">
                LOFTS
            </button>
            
            <button class="m-5 top-menu-buttons" mat-icon-button>
                LYFESTYLE
            </button>
            <button class="m-5 top-menu-buttons" mat-icon-button>
                CONTACT
            </button> -->
                        
        </mat-toolbar-row>
</mat-toolbar>

